p{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 4px;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.color{
    color: #65a3cb;
}

.logo{
    width: fit-content;
}